@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.related-articles {
  padding-block: 0 $space-xl;
  width: 100%;
  background-color: $color-background;

  @include tablet {
    padding-block: $space-base $space-2xl;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-start;

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    font-size: $fz-xl;
    line-height: $lh-xl;
    letter-spacing: -0.5px;
    margin-block-end: $space-base;

    @include tablet {
      margin-block: $space-2xl $space-xl;
    }
  }

  &__link {
    font-weight: $fw-semibold;
    color: $color-primary;
    display: flex;
    align-items: center;
    gap: $gap-sm;
  }

  &__icon {
    width: 16px;
    height: 16px;
    color: $color-primary;
  }

  &__list {
    display: grid;
    gap: $gap-lg;
    grid-template-rows: 1fr;
    padding-inline: $space-0;
    margin: $space-0;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    border: 2px solid transparent;
    border-radius: 20px;
    transition: border-color 0.5s ease;
    @include card-hover;

    &:last-child {
      @include tablet {
        grid-column: 1 / -1;
      }

      @include desktop {
        grid-column: unset;
      }
    }
  }
}
