@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.blog-card {
  &__img img {
    height: 289px;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.5s ease;

    @include tablet {
      height: 702px;
      width: 100%;
    }

    @include card-hover;
  }

  &__img--primary img {
    object-position: center 0;
  }

  &__title {
    font-size: $fz-lg;
    line-height: $lh-ml;
    margin-block: $space-lg $space-sm;
  }

  &__date {
    color: $color-03;
  }
}
