@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.catalog-card {
  position: relative;

  &__img img {
    @include product-image;
    width: 100%;
  }

  &__img-wrapper {
    margin-bottom: $space-m;
  }

  &__title {
    font-family: $ff-heading;
    font-weight: $fw-bold;
    color: $color-text-primary;
    font-size: $fz-m;
    line-height: $lh-md;
    margin-block: $space-m 0;
  }

  &__tags {
    @include card-info;
  }

  &__tag {
    margin-block: $space-0;

    &:last-child::before {
      @include card-pseudoelement;
    }
  }

  &__label {
    position: absolute;
    height: 40px;
    border-radius: 100px;
    font-weight: $fw-medium;
    padding-inline: $space-base;
    top: 16px;
    left: 16px;
  }

  &__label {
    &--sold-out {
      background-color: $color-white;
      color: $color-03;
    }

    &--new {
      background-color: $color-11;
      color: $color-background-soft;
      width: auto;
      max-width: 300px;
    }

    &--popular {
      background-color: $color-primary;
      color: $color-background-soft;
    }
  }

  &__price {
    font-weight: $fw-bold;
    font-size: $fz-m;
    line-height: $lh-md;
    margin-top: $space-m;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__action {
    &:first-child {
      margin-right: $space-sm;
    }
  }
}
