@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.catalog-bg {
  background-image: url("/img/hero-background-1x.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-size: 1363px 256px;

  @include desktop {
    background-size: 100% 290px;
  }
}
