@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.catalog-header {
  display: flex;
  flex-direction: column;
  margin-bottom: $space-3xl;
  margin-top: -35px;

  @include tablet {
    margin-top: -12px;
    gap: $gap-md;
  }
}
