@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contact {
  width: 100%;
}

.contact-form {
  padding: 32px;
  border-radius: 20px;
  background-color: #ffffff;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 24px;
  @include box-shadow;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__label {
    line-height: 20px;
  }

  &__input {
    &::placeholder {
      padding-left: 20px;
    }

    @include input-style;
  }

  &__textarea {
    border: 1px solid #1d36532b;
    border-radius: 8px;
    height: 180px;

    &::placeholder {
      padding-top: 20px;
    }
  }

  &__checkbox-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    min-width: 300px;
    margin-bottom: 32px;
  }

  &__checkbox {
    position: relative;
  }

  &__button {
    width: 192px;
    padding-inline: 40px;
    padding-block: 20px;
  }

  &__valid {
    display: none;
    color: #008f5d;
  }

  &__invalid {
    display: none;
    color: #ea3829;
  }

  &__textarea-valid {
    display: none;
    color: #008f5d;
  }

  &__textarea-invalid {
    display: none;
    color: #ea3829;
  }
}

.contact-form__input:user-invalid ~ .contact-form__invalid {
  display: block;
}

.contact-form__input:valid + .contact-form__valid {
  display: block;
}

.contact-form__textarea:user-invalid ~ .contact-form__textarea-invalid {
  display: block;
}

.contact-form__textarea:valid + .contact-form__textarea-valid {
  display: block;
}
