@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contact {
  width: 100%;
}

.contact-form {
  padding: $space-xl;
  border-radius: 20px;
  background-color: $color-white;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: $gap-lg;
  @include box-shadow;

  &__item {
    display: flex;
    flex-direction: column;
    gap: $gap-xxs;
    width: 100%;
    margin-bottom: $space-m;
  }

  &__label {
    font-size: $fz-xs;
    line-height: $lh-sm;
    margin-bottom: $space-xs;
  }

  &__input {
    padding-left: $space-md;
    @include input-style;
  }

  &__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    cursor: pointer;
    font-family: $ff-body;
    font-weight: $fw-regular;
    font-size: $fz-sm;
    line-height: $lh-base;
    padding-left: $space-m;
  }

  &__item--select {
    position: relative;
  }

  &__select-icon {
    position: absolute;
    top: 60px;
    right: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: currentColor;
    transition: transform 0.3s ease;

    &:focus-within .contact-form__select-icon {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &__textarea {
    border: 1px solid $color-gray-light;
    border-radius: 8px;
    height: 180px;
    resize: none;
    padding: $space-m;
  }

  &__checkbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap-xs;
    width: 100%;
    min-width: 300px;
  }

  &__checkbox {
    position: relative;
  }

  &__button {
    width: 192px;
    padding-inline: $space-2xl;
    padding-block: $space-m;
  }

  &__valid {
    display: none;
    color: $color-valid;
  }

  &__invalid {
    display: none;
    color: $color-error;
  }

  &__textarea-valid {
    display: none;
    color: $color-valid;
  }

  &__textarea-invalid {
    display: none;
    color: $color-error;
  }

  &__select-valid {
    display: none;
    color: $color-valid;
  }

  &__select-invalid {
    display: none;
    color: $color-error;
  }

  &__footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;

    @include desktop {
      flex-direction: row;
    }
  }

  &__checkbox-terms {
    font-size: $fz-xs;
    line-height: $lh-sm;
  }
}

.contact-form__input:user-invalid ~ .contact-form__invalid {
  display: block;
}

.contact-form__input:valid + .contact-form__valid {
  display: block;
}

.contact-form__textarea:user-invalid ~ .contact-form__textarea-invalid {
  display: block;
}

.contact-form__textarea:valid + .contact-form__textarea-valid {
  display: block;
}

.contact-form__select:invalid ~ span {
  display: block;
}

.contact-form__select:valid ~ .contact-form__select-valid {
  display: block;
}
