@use "../abstracts/variables" as *;

details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] .faq__icon-img {
  transform: rotate(180deg);
}

details.faq__item {
  max-width: 100%;
}

summary.faq__question:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px $color-blue-light;
  border-radius: 8px;
}
