@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.faq {
  &__item {
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(29, 57, 95, 0.08);
    width: 100%;
    min-width: 408px;

    @include tablet {
      min-width: 412px;
    }

    @include desktop {
      min-width: 620px;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-size: 20px;
    line-height: 26px;
    flex: 1;
    margin-right: 8px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__icon-img {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
  }
}

details[open] .faq__icon-img {
  transform: rotate(180deg);
}