@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.faq {
  &__item {
    border-radius: 10px;
    padding-inline: $space-lg;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    background-color: $color-white;
    @include card-hover;
    @include box-shadow;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-family: $ff-heading;
    font-weight: $fw-bold;
    color: $color-text-primary;
    font-size: $fz-m;
    line-height: $lh-md;
    flex: 1;
    margin-right: $space-sm;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__icon-img {
    @include svg-small;
    transition: transform 0.3s ease;
  }
}
