@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.primary-title {
  font-family: "Libre Franklin", "Arial", "Georgia", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0f73f6;
  margin-block: 0 16px;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
}

.product-section, .categories, .trending, .pricing, .faq, .blog {
  margin-block: 0 64px;

  @include tablet {
    margin-block: 0 120px;
  }
}

.input {
  @include input-style;
}

.label {
  @include label;
}
