@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.primary-title {
  font-family: $ff-body;
  font-size: $fz-sm;
  font-weight: $fw-regular;
  line-height: $lh-base;
  color: $color-09;
  margin-block: 0 $space-base;
}

.secondary-title {
  font-size: $fz-xl;
  line-height: $lh-xl;
  letter-spacing: -0.5px;
}

.product,
.categories,
.trending,
.pricing,
.faq,
.blog {
  margin-block: 0 $space-4xl;

  @include tablet {
    margin-block: $space-0 $space-6xl;
  }
}

.label {
  @include label;
}
