@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.input-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 1px solid #1f324745;
    border-radius: 4px;
    background-color: #ffffff;
  }
}

.catalog-filter__label-icon, .contact-form__checkbox-icon {
  display: none;
}

.checkbox:checked + .input-checkbox .catalog-filter__label-icon {
  color: #F5F8FB;
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 8px;
  top: 7px;
  left: 3px;
}

.checkbox:checked + .contact-form__checkbox .contact-form__checkbox-icon {
  color: #F5F8FB;
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 8px;
  top: 7px;
  left: 3px;
}

.checkbox:checked + .input-checkbox::before {
  background-color: #0265dc;
  border-color: #0265dc;
}

.input-radio {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid #1f324745;
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
  }
}

.radio:checked + .input-radio::before {
  border: 5px solid #0265dc;
}

.input-toggle {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 48px;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
    background-color: #22344966;
    border-radius: 19px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.toggle:checked + .input-toggle::before {
  background-color: #0265dc;
}

.toggle:checked + .input-toggle::after {
  left: 22px;
  top: 2px;
}
