@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

form.was-submitted input[type="checkbox"]:invalid + .input-checkbox::before {
  border-color: #ea3829;
}

.input-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 1px solid #1f324745;
    border-radius: 4px;
    background-color: #ffffff;
  }
  input[type="checkbox"]:focus-visible + &::before {
    box-shadow: 0 0 0 2px rgba(30, 144, 255, 0.6);
    border-color: transparent;
  }

  input[type="checkbox"]:hover + &::before {
    background-color: #f4f7fa;
  }

  input[type="checkbox"]:active + &::before {
    background-color: #f4f7fa;
    border-color: transparent;
  }

  input[type="checkbox"]:disabled + &::before {
    background-color: #1d36532b;
    border-color: transparent;
  }

  input[type="checkbox"]:invalid + &::before {
    border-color: #ea3829;
  }

  input[type="checkbox"]:hover:invalid + &::before {
    border-color: #ea3829;
    background-color: #294d7517;
  }
}

.catalog-filter__label-icon,
.contact-form__checkbox-icon {
  display: none;
}

.checkbox:checked + .input-checkbox .catalog-filter__label-icon {
  color: #f5f8fb;
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 8px;
  top: 7px;
  left: 3px;

  &:active {
    color: #0054b6;
  }

  &:disabled {
    background-color: #22344966;
  }
}

.checkbox:checked + .contact-form__checkbox .contact-form__checkbox-icon {
  color: #f5f8fb;
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 8px;
  top: 9px;
  left: 3px;
  &:active {
    color: #0054b6;
  }

  &:disabled {
    background-color: #22344966;
  }
}

.checkbox:checked + .input-checkbox {
  &::before {
    background-color: #0265dc;
    border-color: #0265dc;
  }
  &:hover::before {
    background-color: #3892f3;
    border-color: #3892f3;
  }

  &:active:before {
    background-color: #b5deff;
    border-color: #b5deff;
  }

  &:focus-visible::before {
    outline: none;
    box-shadow: 0 0 0 4px rgba(30, 144, 255, 0.6);
  }

  &:disabled::before {
    background-color: #1d36532b;
    border-color: #1d36532b;
  }

  &:hover:invalid::before {
    border-color: #ea3829;
    background-color: #3892f3;
  }

    &:user-invalid::before {
    border-color: #ea3829;
    background-color: #0265dc;
    cursor: not-allowed;
  }
}

.input-radio {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid #1f324745;
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
  }

input[type="radio"]:focus-visible + .input-radio::before {
  box-shadow: 0 0 0 2px rgba(30, 144, 255, 0.6);
  border-color: #2a3541b2;
}

  input[type="radio"]:hover + &::before {
    background-color: #f4f7fa;
    box-shadow: none;
  }

  input[type="radio"]:active + &::before {
    background-color: #e7eef7a8;
    border-color: #2a3541b2;
    box-shadow: none;
  }

  input[type="radio"]:disabled + &::before {
    background-color: #22344966;
    border: 2px solid #22344966;
    cursor: not-allowed;
  }

  input[type="radio"]:hover:invalid + &::before {
    border-color: #ea3829;
    background-color: #294d7517;
  }
}

.radio:checked + .input-radio::before {
  border: 5px solid #0265dc;
}

.radio:checked + .input-radio:hover::before {
  background-color: #E7EEF7A8;
  border-color: #3892f3;
}

.radio:checked + .input-radio:active::before {
  background-color: #0054b6;
  border: 5px solid #CAE8FF;
}

.radio:focus-visible + .input-radio::before {
  border: 5px solid #0265dc;
  box-shadow: 0 0 0 2px #3892F3;
}

.radio:checked + .input-radio:hover:invalid::before {
  border: 2px solid #ea3829;
  box-shadow: 0 0 0 2px #0054b6;
}

.radio:checked + .input-radio:disabled::before {
  box-shadow: 0 0 0 5px #1F324745;
  background-color: #2A3541B2;
  cursor: not-allowed;
}

.input-toggle {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 48px;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
    background-color: #22344966;
    border-radius: 19px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.toggle:checked + .input-toggle::before {
  background-color: #0265dc;
}

.toggle:checked + .input-toggle::after {
  left: 22px;
  top: 2px;
}
