@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.article {
  &__paragraph {
    font-size: 18px;
    line-height: 26px;
    color: #2a3541d9;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  &__img-wrapper {
    height: 462px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
  }

  &__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__img-captions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__img-description {
    @include tablet {
      color: #222222;
      opacity: 70%;
    }
  }

  &__img-link {
    font-weight: 600;
    color: #0265dc;
    @include link-style;
  }

  &__quote-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-inline: 0;
    margin-block: 0;
  }

  &__quote-svg {
    @include svg-large;
  }

  &__quote {
    font-family: "Plus Jakarta Sans", "Arial", "Georgia", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #0d0d15;
    margin: 0;
    padding-top: 8px;
    width: 80%;
  }
}
