@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    display: none;

    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__list-link {
    color: rgb(13 13 21);
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

    @include tablet {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__list-item {
    padding-inline: 32px;
    padding-block: 18px;

    @include tablet {
      padding-inline: 12px;
      padding-block: 6px;
    }
  }
}
