@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.pricing-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(272px, 1fr));
  gap: $gap-sm;
  padding-inline: $space-0;

  @include tablet {
    grid-template-columns: repeat(3, minmax(272px, 1fr));
    margin-top: $space-4xl;
  }

  @include desktop {
    margin-top: -10px;
  }

  &__item {
    border-radius: 22px; /** I had to push it 2 pixels to match layout **/

    @include tablet {
      margin-top: $space-2xl;
    }

    &:first-child,
    &:last-child {
      @include box-shadow;
    }

    &:nth-child(2) {
      border: 2px solid $color-primary;
      margin-bottom: $space-xl;

      @include tablet {
        transform: translateY(-64px);
        margin-bottom: unset;
        padding-bottom: 0;
      }

      @include desktop {
        transform: translateY(-32px);
      }
    }
  }
}
