@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.product-card {
  &__wrapper {
    background-color: #f4f7fa;
    padding: 32px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 224px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0265dc;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 0;
  }

  &__img {
    width: 150px;
    height: 150px;
    color: #0265dc;
    transition: color 0.3s ease;
    transition: transform 0.3s
  }
}

.product-card__wrapper:hover .product-card__img {
  color: #ffffff;
  transform: scale(1.1);
}
