@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.card-button {
  opacity: 0;
  position: absolute;
  width: calc(100% - 32px);
  top: 104px;
  left: 16px;
  z-index: 2;
}

.hover-wrapper {
  position: relative;
  height: 273px;
  border: 20px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $color-background-faded;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    z-index: 1;
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover .card-button {
    opacity: 1;
  }
}
