{% set currentPage = "Blog" %} {% extends "layouts/base.njk" %} {% set title =
"Pixmart – Your Creative Marketplace for Digital Assets" %}
{% set description = "Pixmart – Your Creative Marketplace for Digital Assets" %}
{% set page = "blog" %}

{% block content %}

<!--MAIN STARTS HERE-->

{% endblock %}