{% set currentPage = "About" %} {% extends "layouts/base.njk" %} {% set title =
"Pixmart – Your Creative Marketplace for Digital Assets" %} {% set description =
"Discover, explore, and download high-quality digital assets to boost your
creative projects and streamline your design workflow." %} {% set page = "about"
%} {% block content %}

<!--MAIN STARTS HERE-->

<!--HERO SECTION-->
{% include "partials/hero-homepage.njk" %}

<!--PRODUCTS SECTION-->
{% include "partials/products-section.njk" %}

<!--CATEGORIES SECTION-->
{% include "partials/categories-section.njk" %}

<!--TRENDING SECTION-->
{% include "partials/trending-section.njk" %}

<!--PRICING SECTION-->
{% include "partials/pricing-section.njk" %}

<!--FAQ SECTION-->
{% include "partials/faq-section.njk" %}

<!--BLOG SECTION-->
{% include "partials/blog-section.njk" %} {% endblock %}
