<section class="catalog-filter__section">
  <h3 class="catalog-filter__title">{{ catalogFilterFormats.title }}</h3>
  <ul class="catalog-filter__list">
  {% for format in catalogFilterFormats.items %}
  <li class="catalog-filter__item">
    <div class="catalog-filter__group">
      <input class="visually-hidden catalog-filter__input" type="radio" name="format_type" value="{{ format.value }}" id="{{ format.id }}">
        <label class="catalog-filter__label" for="{{ format.id }}">{{ format.label }}</label>
      </div>
      </li>
    {% endfor %}
    </ul>
  </section>