<section class="catalog-filter__section">
  <h3 class="catalog-filter__title">Format Type</h3>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="radio"
      name="format_type"
      value="figma"
      id="figma"
    />
    <label class="catalog-filter__label" for="figma">Figma</label>
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="radio"
      name="format_type"
      value="sketch"
      id="sketch"
    />
    <label class="catalog-filter__label" for="sketch">Sketch</label>
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="radio"
      name="format_type"
      value="adobe XD"
      id="adobe_xd"
    />
    <label class="catalog-filter__label" for="adobe_xd">Adobe XD</label>
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="radio"
      name="format_type"
      value="Adobe Photoshop"
      id="adobe_photoshop"
    />
    <label class="catalog-filter__label" for="adobe_photoshop"
      >Adobe Photoshop</label
    >
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="radio"
      name="format_type"
      value="Adobe Illustration"
      id="adobe_illustration"
    />
    <label class="catalog-filter__label" for="adobe_illustration"
      >Adobe Illustration</label
    >
  </div>
</section>
