<section class="catalog-filter__section">
  <h3 class="catalog-filter__title">Price</h3>
  <div class="catalog-filter__range">
    <div class="catalog-filter__range-slider">
      <input class="catalog-filter__range-input" type="range" min="0" max="100" value="10" id="min_price">
      <input class="catalog-filter__range-input" type="range" min="0" max="100" value="90" id="max_price">
    </div>
    <div class="catalog-filter__range-labels">
      <span class="catalog-filter__range-label">€5</span>
      <span class="catalog-filter__range-label">€50</span>
    </div>
  </div>
</section>
