<section class="catalog-filter__section">
  <h3 class="catalog-filter__title">Categories</h3>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="all"
      id="all_categories"
    />
    <label class="catalog-filter__label" for="all_categories"
      >All Categories</label
    >
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="technology"
      id="technology"
    />
    <label class="catalog-filter__label" for="technology">Technology</label>
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="travel & tourism"
      id="travel_tourism"
    />
    <label class="catalog-filter__label" for="travel_tourism"
      >Travel & Tourism</label
    >
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="health & fitness"
      id="health_fitness"
    />
    <label class="catalog-filter__label" for="health_fitness"
      >Health & Fitness</label
    >
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="e-commerce"
      id="e_commerce"
    />
    <label class="catalog-filter__label" for="e_commerce">E-Commerce</label>
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="education"
      id="education"
    />
    <label class="catalog-filter__label" for="education">Education</label>
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="entertainment"
      id="entertainment"
    />
    <label class="catalog-filter__label" for="entertainment"
      >Entertainment</label
    >
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="others"
      id="others1"
    />
    <label class="catalog-filter__label" for="others1">Others</label>
  </div>

  <div class="catalog-filter__group">
    <input
      class="catalog-filter__input"
      type="checkbox"
      name="categories"
      value="others"
      id="others2"
    />
    <label class="catalog-filter__label" for="others2">Others</label>
  </div>
</section>
