<aside class="blog-aside">
  <figure class="blog-aside__author">
    <img class="blog-aside__author-img" src="#" alt="Portrait of Emma Clarke" />
    <figcaption class="blog-aside__author-info">
      <p class="blog-aside__author-name">Emma Clarke</p>
      <time class="blog-aside__author-date" datetime="2024-04-10"
        >April 10, 2024</time
      >
    </figcaption>
  </figure>

  <section class="blog-aside__section">
    <h3 class="blog-aside__heading">Categories</h3>
    <ul class="blog-aside__list">
      <li class="blog-aside__list-item">Graphic Design Trends</li>
      <li class="blog-aside__list-item blog-aside__list-item--active">
        Typography & Fonts
      </li>
      <li class="blog-aside__list-item">UI/UX Design</li>
      <li class="blog-aside__list-item">Branding & Identity</li>
      <li class="blog-aside__list-item">Illustration</li>
      <li class="blog-aside__list-item">Digital Marketing</li>
    </ul>
  </section>

  <section class="blog-aside__section">
    <h3 class="blog-aside__heading">Latest Articles</h3>
    <ul class="blog-aside__articles">
      <li class="blog-aside__article">
        <h4 class="blog-aside__article-title">Text</h4>
        <time class="blog-aside__article-date" datetime="2024-03-15"
          >March 15, 2024</time
        >
      </li>
      <li class="blog-aside__article">
        <h4 class="blog-aside__article-title">Text</h4>
        <time class="blog-aside__article-date" datetime="2024-03-15"
          >March 15, 2024</time
        >
      </li>
    </ul>
  </section>
</aside>
