<aside class="catalog-filter">
  <form class="catalog-filter__form" action="#" method="get">
    {% include "partials/aside-catalog-categories.njk" %}
    {% include
    "partials/aside-catalog-format.njk" %}
    {% include
    "partials/aside-catalog-style.njk" %}
    {% include
    "partials/aside-catalog-price.njk" %}
    <button>
      <svg class="catalog-filter__button">
        <use class="catalog-filter__button-icon" href="{{ catalogFormButton.icon }}" loading="lazy"></use>
      </svg>
      {{ catalogFormButton }}
    </button>
  </form>
</aside>