<section class="catalog-filter__section">
  <h3 class="catalog-filter__title">{{ catalogFilterStyles.title }}</h3>
  {% for style in catalogFilterStyles.items %}
    <div class="catalog-filter__group">
      <input class="catalog-filter__input" type="checkbox" name="style" value="{{ style.value }}" id="{{ style.id }}">
        <label class="catalog-filter__label" for="{{ style.id }}">{{ style.label }}</label>
      </div>
    {% endfor %}
  </section>