<section class="catalog-filter__section catalog-filter--price">
  <h3 class="catalog-filter__title">{{ catalogFilterPrice.title }}</h3>
  <fieldset class="catalog-filter__fieldset">
    <legend class="visually-hidden catalog-filter__legend">{{ catalogFilterPrice.title }}</legend>
    <div class="catalog-filter__range">
      <div class="catalog-filter__range-slider">
        <input class="catalog-filter__range-input" type="range" min="{{ catalogFilterPrice.min }}" max="{{ catalogFilterPrice.max }}" value="{{ catalogFilterPrice.valueMin }}" id="{{ catalogFilterPrice.idMin }}">
          </div>
          <div class="catalog-filter__range-labels">
            <span class="catalog-filter__range-up">{{ catalogFilterPrice.labelMin }}</span>
            <span class="catalog-filter__range-down">{{ catalogFilterPrice.labelMax }}</span>
          </div>
        </div>
      </fieldset>
    </section>