<section class="container blog">
  <div class="blog__header">
    <h2 class="secondary-title blog__title">Latest Expert</h2>
    <a class="blog__link" href="#">Explore All Articles</a>
  </div>
  <div class="blog__wrapper">
    <article class="blog-card">
      <img class="blog-card__img" src="#" alt="UI of Creative Blog article">
      <h3 class="blog-card__title">Creative Blog</h3>
      <time class="blog-card__date" datetime="2024-04-15">15 APRIL 2024</time>
    </article>
    <article class="blog-card">
      <img class="blog-card__img" src="#" alt="UI of Best Dishes article">
      <h3 class="blog-card__title">Best Dishes</h3>
      <time class="blog-card__date" datetime="2024-05-05">5 MAY 2024</time>
    </article>
  </div>
</section>