<section>
          <div>
            <h2>Latest Expert</h2>
            <a href="#">Explore All Articles</a>
          </div>
          <div>
            <article>
              <img src="#" alt="UI of Creative Blog article">
              <h4>Creative Blog</h4>
              <time datetime="2024-04-15">15 APRIL 2024</time>
            </article>
            <article>
              <img src="#" alt="UI of Best Dishes article">
              <h4>Best Dishes</h4>
              <time datetime="2024-04-15">5 MAY 2024</time>
            </article>
          </div>
        </section>