<section class="catalog-header">
  <h2 class="catalog-header__actions visually-hidden">{{ gridHeader.title }}</h2>
  <div class="catalog-tools">
    <div class="catalog-tools__upper">
      <div class="button catalog-tools__select-wrapper button--secondary">
        {% include "partials/dropdown-catalog.njk" %}
      </div>
      <button class="button catalog-tools__filter button--primary-small" type="button">
        <svg class="svg catalog-tools__filter-icon" aria-label="{{ catalogFilterButton.alt }}">
          <use href="{{ catalogFilterButton.icon }}"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-tools__lower">
      <p class="catalog-tools__info">{{ catalogMeta.info }}</p>
      <div class="catalog__meta-wrapper">
        <div class="catalog__meta-buttons">
          <button class="button catalog__meta-button catalog__meta-button--primary button--primary-small" type="button">
            <svg class="svg catalog__meta-icon catalog__meta-icon--primary" aria-label="{{ catalogViewmodes.gridView.alt }}">
              <use href="{{ catalogViewmodes.gridView.icon }}"></use>
            </svg>
          </button>
          <button class="button catalog__meta-button catalog__meta-button--secondary button--secondary-small" type="button">
            <svg class="svg catalog__meta-icon catalog__meta-icon--secondary" aria-label="{{ catalogViewmodes.listView.alt }}">
              <use href="{{ catalogViewmodes.listView.icon }}"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog__tags">
    {% for tag in catalogTags %}
      <button class="button catalog__tag-item button--secondary" type="reset">
        {{ tag.label }}
        <svg class="catalog__tag-icon" aria-hidden="true" focusable="false">
          <use href="{{ tag.icon }}"></use>
        </svg>
      </button>
    {% endfor %}
  </div>
</section>