<ul class="catalog-list">
  {% for item in catalog %}
    <li class="catalog-list__item">
      <article class="catalog-card">
        <div class="catalog-card__img-wrapper">
          <img class="catalog-card__img" src="{{ item.image }}" alt="{{ item.alt }}">
            {% if item.state %}
              <div class="catalog-card__label catalog-card__label--{{ item.stateClass }}">
                <p class="catalog-card__state">{{ item.state }}</p>
              </div>
            {% endif %}
          </div>
          <h2 class="catalog-card__title">{{ item.title }}</h2>
          <div class="catalog-card__tags">
            {% for tag in item.tags %}
              <p class="catalog-card__tag">{{ tag }}</p>
            {% endfor %}
          </div>
          {% if item.actions %}
            <div class="catalog-card__footer">
              <p class="catalog-card__price">{{ item.price }}</p>
              <div class="catalog-card__actions">
                {% for action in item.actions %}
                  <div class="catalog-card__action">
                    <img class="catalog-card__action-icon" src="{{ action.icon }}" alt="{{ action.alt }}"></div>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <p class="catalog-card__price">{{ item.price }}</p>
            {% endif %}
          </article>
        </li>
      {% endfor %}
    </ul>