<section class="catalog-header">
  <div class="catalog-tools">
    <div class="catalog-tools__upper">
      <div class="catalog-tools__select-wrapper">
        <fieldset class="catalog-tools__fieldset">
          <legend class="visually-hidden catalog-tools__legend">Select Filter</legend>
      <select class="button catalog-tools__select button--secondary">
        {% for option in catalogDropdownOptions %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
      </fieldset>
            <svg class="svg catalog-tools__select-icon">
              <use href="{{ catalogDropdownIcon }}"></use>
            </svg>
      </div>
      <button class="button catalog-tools__filter button--primary-small">
        <svg class="svg catalog-tools__filter-icon">
          <use href="{{ catalogFilterButton.icon }}" aria-label="{{ catalogFilterButton.alt }}"></use>
        </svg>
      </button>
    </div>
    <div class="catalog-tools__lower">
      <p class="catalog-tools__info">{{ catalogMeta.info }}</p>
      <div class="catalog-meta__wrapper">
        <div class="catalog-meta">
          <div class="button catalog-meta__primary button--primary-small">
            <svg class="svg catalog-meta__icon-primary">
              <use href="{{ catalogViewmodes.gridView.icon }}" aria-label="{{ catalogViewmodes.gridView.alt }}"></use>
            </svg>
          </div>
          <div class="button catalog-meta__secondary button--secondary-small">
            <svg class="svg catalog-meta__icon">
              <use href="{{ catalogViewmodes.listView.icon }}" aria-label="{{ catalogViewmodes.listView.alt }}"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="catalog-tags">
    {% for tag in catalogTags %}
      <div class="button catalog-tag__item button--secondary">
        {{ tag.label }}
        <svg class="catalog-tag__icon">
          <use href="{{ tag.icon }}"></use>
        </svg>
      </div>
    {% endfor %}
  </div>
</section>