<div class="catalog-tools">
    <div class="button catalog-tools__dropdown button--tertiary">
        <select class="catalog-tools__select" name="best-sellers" id="option"></select>
        <option value="Best Seller">Best Seller</option>
    </div>
    <div class="button catalog-tools__filter button--primary">
        <img class="catalog-tools__filter-icon" src="#" alt="#">
    </div>
</div>
<div>
    <p class="catalog-meta__info">Showing 12 out of 120 results.</p>
    <div class="catalog-meta">
        <div class="button catalog-meta__primary button--primary">
            <img class="catalog-meta__icon" src="#" alt="grid view">
        </div>
        <div class="button catalog-meta__secondary button--tertiary">
            <img class="catalog-meta__icon" src="#" alt="list view">
        </div>
    </div>
</div>
<div class="catalog-tags">
    <div class="catalog-tags__item">
        <p class="catalog-tags__label">UI Kit</p>
        <img class="catalog-tags__icon" src="#" alt="#">
    </div>
    <div class="catalog-tags__item">
        <p class="catalog-tags__label">UI Kit</p>
        <img class="catalog-tags__icon" src="#" alt="#">
    </div>
</div>