<li class="categories__list-item">
  <article class="categories-card">
    <svg class="categories-card__svg">
      <use href="{{ item.svg }}"></use>
    </svg>
    <div class="categories-card__info">
    <h4 class="categories-card__title">{{ item.title }}</h4>
    <div class="categories-card__meta">
    <p class="categories-card__description">{{ item.description }}</p>
    <p class="categories-card__label">{{ item.label }}</p>
    </div>
    </div>
  </article>
</li>