<li class="categories__list-item">
  <article class="categories-card">
    <svg class="svg categories-card__svg">
      <use href="{{ item.svg }}" aria-label="{{ item.alt }}" loading="lazy"></use>
    </svg>
    <h4 class="categories-card__title">{{ item.title }}</h4>
    <p class="categories-card__description">{{ item.description }}</p>
    <p class="categories-card__label">{{ item.label }}</p>
  </article>
</li>