<form class="contact-form" method="post" action="#">
  {% for field in contactForm.fields %}
    <div class="contact-form__item">
      <label class="contact-form__label" for="{{ field.id }}">{{ field.label }}</label>
      <input class="contact-form__input" type="{{ field.type }}" id="{{ field.id }}" name="{{ field.id }}" placeholder="{{ field.placeholder }}" {% if field.title %} title="{{ field.title }}" {% endif %} required/>
    </div>
  {% endfor %}
  <div class="contact-form__item">
    <label class="contact-form__label" for="subject">{{ contactForm.selectLabel }}</label>
    <select class="contact-form__select" id="subject" name="subject" required>
      <option value="" disabled selected>{{ contactForm.selectPlaceholder }}</option>
      {% for option in contactForm.selectOptions %}
        <option value="{{ option }}">{{ option }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="contact-form__item">
    <label class="contact-form__label" for="message">{{ contactForm.textareaLabel }}</label>
    <textarea class="contact-form__textarea" id="message" name="message" rows="5" placeholder="{{ contactForm.textareaPlaceholder }}" required></textarea>
  </div>
  <div class="contact-form__footer-wrapper">
    <div class="contact-form__checkbox-wrapper">
      {% for text in contactForm.checkboxes %}
        <label class="contact-form__checkbox">
          <input class="contact-form__checkbox-input" type="checkbox" name="checkbox-{{ loop.index }}" {% if loop.last %} required {% endif %}/>
          <span>{{ text }}</span>
        </label>
      {% endfor %}
    </div>
    <button class="button contact-form__button button--primary" type="submit">
      {{ contactForm.buttonText }}
    </button>
  </div>
</form>