<form class="contact-form" method="post" action="{{ contactForm.action }}">
  <fieldset class="contact-form__fieldset">
    <legend class="visually-hidden">{{ contactForm.hiddenTitle }}</legend>
    {% for field in contactForm.fields %}
      <div class="contact-form__item">
        <label class="contact-form__label" for="{{ field.id }}">{{ field.label }}</label>
        <input class="input contact-form__input" type="{{ field.type }}" id="{{ field.id }}" name="{{ field.id }}" placeholder="{{ field.placeholder }}" {% if field.title %} title="{{ field.title }}" {% endif %} required>
          <span class="contact-form__valid">{{ field.valid }}</span>
          <span class="contact-form__invalid">{{ field.invalid }}</span>
        </div>
      {% endfor %}
      <div class="contact-form__item">
        <label class="contact-form__label" for="subject">{{ contactForm.selectLabel }}</label>
        <select class="input contact-form__select" id="subject" name="subject" required>
          <option value="" disabled selected>{{ contactForm.selectPlaceholder }}</option>
          {% for option in contactForm.selectOptions %}
            <option value="{{ option }}">{{ option }}</option>
          {% endfor %}
        </select>
        <span class="contact-form__select-valid">{{ option.selectValid }}</span>
        <span class="contact-form__select-invalid">{{ option.selectInvalid }}</span>
      </div>
      <div class="contact-form__item">
        <label class="contact-form__label" for="message">{{ contactForm.textareaLabel }}</label>
        <textarea class="contact-form__input contact-form__textarea" id="message" name="message" rows="5" placeholder="{{ contactForm.textareaPlaceholder }}" required></textarea>
        <span class="contact-form__textarea-valid">{{ contactForm.valid }}</span>
        <span class="contact-form__textarea-invalid">{{ contactForm.invalid }}</span>
      </div>
      <div class="contact-form__footer-wrapper">
        <div class="contact-form__checkbox-wrapper">
          {% for checkbox in contactForm.checkboxes %}
            <input class="visually-hidden checkbox contact-form__checkbox-input" type="checkbox" name="checkbox{{ loop.index }}" id="checkbox{{ loop.index }}" {% if checkbox.required %} required {% endif %}>
              <label class="input-checkbox contact-form__checkbox" for="checkbox{{ loop.index }}">
                <svg class="contact-form__checkbox-icon" aria-hidden="true" focusable="false">
                  <use href="{{ checkbox.icon }}"></use>
                </svg>
                <span class="contact-form__checkbox-terms">{{ checkbox.text }}</span>
              </label>
            {% endfor %}
          </div>
          <button class="button contact-form__button button--primary" type="submit">
            {{ contactForm.buttonText }}
          </button>
        </div>
      </fieldset>
    </form>