<form method="get" action="">
    <div class="catalog-tools__select-wrapper">
        <label for="select" class="visually-hidden">Sort products by</label>
        <select name="select" id="select" class="button catalog-tools__select button--secondary">
            {% for option in catalogDropdownOptions %}
                <option value="{{ option }}" {% if option == currentSelection %} selected {% endif %}>
                    {{ option }}
                </option>
            {% endfor %}
        </select>
        <svg class="svg catalog-tools__select-icon" aria-hidden="true" focusable="false">
            <use href="{{ catalogDropdownIcon }}"></use>
        </svg>
    </div>
    <button type="submit" class="visually-hidden">Submit</button>
</form>