<details class="faq__item">
    <summary class="faq__question">
        <h4 class="faq__text">{{ item.question }}</h4>
        <span class="button faq__icon button--secondary-small">
            <svg class="faq__icon-img">
                <use href="{{ item.icon.src }}" aria-hidden="true" focusable="false"></use>
            </svg>
        </span>
    </summary>
    <p class="faq__answer">{{ item.answer }}</p>
</details>