<section class="container faq">
  <div class="faq__header">
    <h2 class="primary-title faq__primary-title">F.A.Q</h2>
    <h3 class="secondary-title faq__secondary-title">Answers to Your Questions</h3>
    <button class="button faq__button button--tertiary">Ask Us A Question</button>
  </div>
  <div class="faq__list">
    <details class="faq__item">
      <summary class="faq__question">
        <h4 class="faq__text">Can I request a refund?</h4>
        <div class="faq__icon">
          <img class="faq__icon-img" src="#" alt="Toggle FAQ">
        </div>
      </summary>
      <p class="faq__answer">#</p>
    </details>
    <details class="faq__item">
      <summary class="faq__question">
        <h4 class="faq__text">How do I access my purchased products</h4>
        <div class="faq__icon">
          <img class="faq__icon-img" src="#" alt="Toggle FAQ">
        </div>
      </summary>
      <p class="faq__answer">Accessing your purchased products is seamless and hassle-free...</p>
    </details>
    <details class="faq__item">
      <summary class="faq__question">
        <h4 class="faq__text">Are there any discounts for bulk purchases?</h4>
        <div class="faq__icon">
          <img class="faq__icon-img" src="#" alt="Toggle FAQ">
        </div>
      </summary>
      <p class="faq__answer">#</p>
    </details>
    <details class="faq__item">
      <summary class="faq__question">
        <h4 class="faq__text">What payment methods do you accept here?</h4>
        <div class="faq__icon">
          <img class="faq__icon-img" src="#" alt="Toggle FAQ">
        </div>
      </summary>
      <p class="faq__answer">#</p>
    </details>
    <details class="faq__item">
      <summary class="faq__question">
        <h4 class="faq__text">Can I sell my digital products on this marketplace?</h4>
        <div class="faq__icon">
          <img class="faq__icon-img" src="#" alt="Toggle FAQ">
        </div>
      </summary>
      <p class="faq__answer">#</p>
    </details>
  </div>
</section>
