<details class="faq__item">
    <summary class="faq__question">
        <h4 class="faq__text">{{ item.question }}</h4>
        <span class="faq__icon">
            <svg class="faq__icon-img">
                <use href="{{ item.icon.scr }}" aria-label="{{ item.icon.alt }}" loading="lazy"></use>
            </svg>
        </span>
    </summary>
    <p class="faq__answer">{{ item.answer }}</p>
</details>