<section class="container faq-section">
  <div class="faq-header">
    <h2 class="primary-title faq-section__primary-title">F.A.Q</h2>
    <h3 class="secondary-title faq-section__secondary-title">Answers to Your Questions</h3>
    <button class="button faq__button button--tertiary">Ask Us A Question</button>
  </div>
  <div class="faq-wrapper">
    <details class="faq__item">
      <button class="faq__button">
        <img class="faq__button-icon" src="#" alt="#"></button>
        <summary class="faq__question">
          <h4 class="faq__question-text">Can I request a refund?</h4>
        </summary>
        <p class="faq__answer">#</p>
      </details>
      <details class="faq__item">
        <button class="faq__button">
          <img class="faq__button-icon" src="#" alt="#"></button>
          <summary class="faq__question">
            <h4>How do I access my purchased products</h4>
          </summary>
          <p class="faq__answer">Accessing your purchased products is seamless and hassle-free on our digital design assets
            marketplace. Simply log in to your account, navigate to the 'My Purchases' section, and you'll find all your purchased
            products ready for download.</p>
        </details>
        <details class="faq__item">
          <button class="faq__button">
            <img class="faq__button-icon" src="#" alt="#"></button>
            <summary class="faq__question">
              <h4 class="faq__question-text">Are there any discounts for bulk purchases?</h4>
            </summary>
            <p class="faq__answer">#</p>
          </details>
          <details class="faq__item">
            <button class="faq__button">
              <img class="faq__button-icon" src="#" alt="#"></button>
              <summary class="faq__question">
                <h4 class="faq__question-text">What payment methods do you accept here?</h4>
              </summary>
              <p class="faq__answer">#</p>
            </details>
            <details class="faq__item">
              <button class="faq__button">
                <img class="faq__button-icon" src="#" alt="#"></button>
                <summary class="faq__question">
                  <h4 class="faq__question-text">Can I sell my digital products on this marketplace?</h4>
                </summary>
                <p class="faq__answer">#</p>
              </details>
            </div>
          </section>