<footer class="footer">
  <div class="footer__upper">
    <div class="footer__brand">
      <img
        class="footer__logo"
        src="{{ footerSection.logo }}"
        alt="{{ footerSection.alt }}"
      />
      <p class="footer__description">{{ footerSection.description }}</p>
    </div>
    <nav class="footer__nav">
      <div class="footer__nav-wrapper">
        {% for group in footerSection.nav %}
        <h3 class="footer__nav-title">{{ group.title }}</h3>
        <ul class="footer__nav-list">
          {% for item in group.links %}
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="{{ item.link }}"
              >{{ item.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </nav>
  </div>
  <div class="footer__middle">
    <div class="footer__socials">
      <ul class="footer__social-list">
        {% for social in footerSection.socials %}
        <li class="footer__social-item">
          <a href="{{ social.link }}">
            <img
              class="footer__social-icon"
              src="{{ social.icon }}"
              alt="{{ social.alt }}"
          /></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer__newsletter">
      <h4 class="footer__newsletter-title">
        {{ footerSection.newsletter.title }}
      </h4>
      <form class="footer__form" method="get">
        <input
          class="footer__input"
          type="search"
          placeholder="{{ footerSection.newsletter.placeholder }}"
        />
        <button class="button footer__submit">
          {{ footerSection.newsletter.button }}
        </button>
      </form>
    </div>
  </div>
  <div class="footer__lower">
    <ul class="footer__legal-list">
      {% for item in footerSection.legal %}
      <li class="footer__legal-item">{{ item }}</li>
      {% endfor %}
    </ul>
    <p class="footer__copyright">{{ footerSection.copyright }}</p>
  </div>
</footer>
