<form class="footer__form" method="get" aria-label="Newsletter subscription">
    <label class="visually-hidden" for="footer_email">Email address</label>
    <input class="input footer__input" id="footer_email" type="email" name="email" placeholder="{{ footerNewsletter.placeholder }}" required autocomplete="email"/>
    <button class="button footer__submit button--primary" type="submit">
        {{ footerNewsletter.button }}
    </button>
</form>