<footer>
    <div class="footer-upper">
        <div>
            <img src="#" alt="Pixmart logo">
            <p>Your premium digital assets solution with high quality and comprehensive range of products and
                services.</p>
        </div>
        <nav>
            <div>
                <h3>Company</h3>
                <ul>
                    <li>
                        <a href="#">Homepage v1</a>
                    </li>
                    <li>
                        <a href="#">Homepeage v2</a>
                    </li>
                    <li>
                        <a href="#">Homepage v3</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Blog Articles</a>
                    </li>
                </ul>
                <h3>Products</h3>
                <ul>
                    <li>
                        <a href="#">Website</a>
                    </li>
                    <li>
                        <a href="#">Mobile App</a>
                    </li>
                    <li>
                        <a href="#">Social Media Feeds</a>
                    </li>
                    <li>
                        <a href="#">Presentation</a>
                    </li>
                    <li>
                        <a href="#">Product Mockups</a>
                    </li>
                    <li>
                        <a href="#">Illustrations</a>
                    </li>
                </ul>
                <h3>Account</h3>
                <ul>
                    <li><a href="#">Your Card</a></li>
                    <li><a href="#">Check Out</a></li>
                    <li><a href="#">Refund Policy</a></li>
                    <li><a href="#">Company Policy</a></li>
                    <li><a href="#">Send A Message</a></li>
                    <li><a href="#">Customer Support</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="footer-middle">
        <div>
            <ul>
                <li><a href="#"><img src="#" alt="Twitter logo"></a></li>
                <li><a href="#"><img src="#" alt="Facebook logo"></a></li>
                <li><a href="#"><img src="#" alt="Telegram logo"></a></li>
            </ul>
        </div>
        <div>
            <h4>Subscribe to Design Newsletter</h4>
            <div>
                <form action="get">
                    <input type="search" placeholder="Enter your email address">
                    <button>Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <ul>
            <li>Privacy Policy</li>
            <li>Terms and Condition</li>
            <li>Site Map</li>
        </ul>
        <p>Copyright © 2024 Pixmart. All rights reserved.</p>
    </div>
</footer>