<form class="header-search" method="get" role="search" aria-label="Site search">
    <label class="visually-hidden" for="site-search-input">Search for digital assets</label>
    <svg class="header-search__img" aria-hidden="true" focusable="false">
        <use href="{{ headerSearch.img }}"></use>
    </svg>
    <input class="header-search__input" id="site-search-input" type="search" name="search" maxlength="30" placeholder="{{ headerSearch.headerPlaceholder }}" autocomplete="on"/>
    <button class="visually-hidden" type="submit">Submit Search</button>
</form>