<header class="container header">

  <div class="header__menu-wrapper">

    <div class="header__nav">
      <div class="header__burger">
      <div class="header__burger-wrapper">
        <button class="header__burger-btn">
          <svg class="header__burger-img">
            <use href="{{ header.burgerImg }}" aria-label="{{ header.burgerImgAlt }}"></use>
          </svg>
        </button>
      </div>
      <div class="header__logo">
        <a class="header__logo-image" href="{{ header.logoLink }}">
          <svg class="header__logo-img">
            <use href="{{ header.logoImgFull }}" aria-label=" {{ header.logoAlt }}" loading="eager"></use>
          </svg>
        </a>
      </div>
      </div>
    <nav class="main-nav">
      <ul class="main-nav__list">
        {% for item in header.nav %}
          <li class="main-nav__list-item">
            <a class="main-nav__list-link" href="{{ item.link }}">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    </div>

    <div class="header-actions">
      <form class="header-search" method="get">
        <svg class="header-search__img">
          <use href="{{ headerSearch.img }}" aria-label="{{ headerSearch.imgAlt }}" loading="lazy"></use>
        </svg>
        <input class="header-search__input" type="search" name="search" maxlength="30" placeholder="{{ headerSearch.headerPlaceholder }}" autocomplete="on">
        </form>
        <button class="button header__button button--primary">
          <svg class="header__button-img">
            <use href="{{ headerButton.img }}" aria-label="{{ headerButton.alt }}" loading="eager"></use>
          </svg>
        </button>
      </div>

    </div>

  </header>