<header>
    <div>
    <div class="burger-menu">
        <img src="#" alt="menu icon">
        </div>
    <div>
      <a href="index.html">
        <img src="https://via.placeholder.com/150" alt="pixmart-logo" loading="eager" />
      </a>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a href="index.html">About</a>
        </li>
        <li>
          <a href="catalog.html">Products</a>
        </li>
        <li>
          <a href="https://via.placeholder.com/150">Creators</a>
        </li>
        <li>
          <a href="blog-page.html">Blog</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </nav>
    <div>
      <form method="get">
        <input type="search" name="search" maxlength="30" placeholder="Search for Digital Assets" autocomplete="on" />
      </form>
      <button>
        <img src="https://via.placeholder.com/150" alt="bag icon" />
      </button>
    </div>
    </header>