<section class="container hero-section hero-section--homepage">
  <div class="hero-section__wrapper">
    <h1 class="hero-section__heading">{{ heroHome.title }}</h1>
    <h2 class="hero-section__description">{{ heroHome.description }}</h2>
    <div class="hero-section__btn-wrapper">
      <button class="button hero-section__button button--primary">
        {{ heroHome.buttonPrimary }}
      </button>
      <button class="button hero-section__button button--secondary">
        <svg class="svg hero-section__button-svg">
          <use href="{{ heroHome.buttonIcon.svg }}" aria-label="{{ heroHome.buttonIcon.alt }}" loading="lazy"></use>
        </svg>
        {{ heroHome.buttonSecondary }}
      </button>
    </div>
  </div>
  <div class="hero-section__img-wrapper">
    {% for item in heroHome.images %}
      {% if item.type == 'img' %}
        <img class="hero-section__img" src="{{ item.img }}" alt="{{ item.alt }}">
        {% elif item.type == 'svg' %}
          <svg class="svg hero-section__svg">
            <use href="{{ item.icon }}" aria-label="{{ item.alt }}" loading="lazy"></use>
          </svg>
        {% endif %}
      {% endfor %}
    </div>
  </section>