<div class="blog-hero__wrapper">
  <h2 class="blog-hero__label">{{ blogHero.label }}</h2>
</div>
<div class="blog-hero__img-wrapper">
  <picture class="blog-hero__img">
    <source srcset="/img/{{ blogHero.image.src }}-1x.avif 1x, /img/{{ blogHero.image.src }}-2x.avif 2x" type="image/avif"/>
    <source srcset="/img/{{ blogHero.image.src }}-1x.webp 1x, /img/{{ blogHero.image.src }}-2x.webp 2x" type="image/webp"/>
    <img class="blog-hero__img" src="/img/{{ blogHero.image.src }}-2x.webp" alt="{{ blogHero.image.alt }}" loading="eager"/>
  </picture>
</div>