<div class="contact__layout">
  <div class="contact__intro">
    <h2 class="secondary-title contact__secondary-title">Contact</h2>
    <h1 class="contact__title">Get in Touch with Us</h1>
    <h3 class="contact__description">
      We are here to help you navigate your creative journey. Reach out for any
      questions, support, or feedback.
    </h3>
  </div>
  <button class="button contact__button button--primary">Shop Now</button>
  <div class="contact__info-wrapper">
    <div class="contact__info-item">
      <img class="contact__icon" src="#" alt="#" />
      <p class="contact__text">+1 (555) 123-4567</p>
    </div>
    <div class="contact__info-item">
      <img class="contact__icon" src="#" alt="#" />
      <p class="contact__text">support@pixmart.com</p>
    </div>
    <div class="contact__info-item">
      <img class="contact__icon" src="#" alt="#" />
      <p class="contact__text">Monday to Friday: 9 AM - 5 PM EST</p>
    </div>
  </div>
</div>
<div class="contact__map-wrapper">
  <iframe
    class="contact__map"
    src="https://maps.app.goo.gl/gWuCtQNuAMMHF7sJ9"
    height="250"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
