<section class="container hero-section hero-section--homepage">
  <div class="hero-section__wrapper">
    <h1 class="hero-section__heading">{{ heroHome.titleFirst }}<span class="hero-section__heading-highlight">{{ heroHome.titleMiddle }}</span>
      {{ heroHome.titleLast }}</h1>
    <h2 class="hero-section__description">{{ heroHome.description }}</h2>
    <div class="hero-section__btn-wrapper">
      <button class="button hero-section__button-primary button--primary">
        {{ heroHome.buttonPrimary }}
      </button>
      <button class="button hero-section__button-secondary">
        <svg class="svg hero-section__button-svg">
          <use href="{{ heroHome.buttonIcon.svg }}"></use>
        </svg>
        {{ heroHome.buttonSecondary }}
      </button>
    </div>
  </div>
  <div class="hero-section__img-wrapper">
    {% for item in heroHome.images %}
      {% if item.type == 'img' %}
        <picture class="hero-section__img hero-section__img--{{ item.modifier }}">
          <source srcset="/img/{{ item.img }}-1x.avif 1x, /img/{{ item.img }}-2x.avif 2x" type="image/avif"/>
          <source srcset="/img/{{ item.img }}-1x.webp 1x, /img/{{ item.img }}-2x.webp 2x" type="image/webp"/>
          <img class="hero-section__img" src="/img/{{ item.img }}-2x.webp" alt="{{ item.alt }}" loading="eager"/>
        </picture>
      {% elif item.type == 'svg' %}
        <div class="hero-section__svg-wrapper hero-section__svg-wrapper--{{ item.modifier }}">
          <svg class="hero-section__svg">
            <use href="{{ item.icon }}" aria-label="{{ item.alt }}"></use>
          </svg>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>