<section class="container hero-section hero-section--catalog">
  <h1 class="hero-section__catalog-title">
    <span>{{ heroCatalog.titleStart }}</span>
    <span class="hero-section__catalog-highlight">{{ heroCatalog.titleHighlight }}
    {{ heroCatalog.titleEnd }}</span>
  </h1>
</section>