<section class="container hero-catalog">
    <h1 class="hero-catalog__title">
      <span class="hero-catalog__title-start">{{ heroCatalog.titleStart }}</span>
      <span class="hero-catalog__title-highlight">{{ heroCatalog.titleHighlight }}
        {{ heroCatalog.titleEnd }}</span>
    </h1>
</section>