<section class="hero-catalog">
  <div class="container">
    <h1 class="hero-catalog__title">
      <span class="hero-catalog__title-start">{{ heroCatalog.titleStart }}</span>
      <strong class="hero-catalog__title-highlight">{{ heroCatalog.titleHighlight }}</strong>
      {{ heroCatalog.titleEnd }}
    </h1>
  </div>
</section>