<section class="container hero-section hero-section--homepage hero-section--banner">
  <div class="hero-section__wrapper">
    <h1 class="hero-section__heading">{{ heroHome.titleFirst }}<span class="hero-section__heading-highlight">{{ heroHome.titleMiddle }}</span>
      {{ heroHome.titleLast }}</h1>
    <h2 class="hero-section__description">{{ heroHome.description }}</h2>
    <div class="hero-section__btn-wrapper">
      <a class="button hero-section__button-primary button--primary" href="{{ heroHome.linkPrimary }}">
        {{ heroHome.buttonPrimary }}
      </a>
      <a class="button hero-section__button-secondary" href="{{ heroHome.linkSecondary }}" target="_blank">
        <svg class="svg hero-section__button-svg" aria-hidden="true" focusable="false">
          <use href="{{ heroHome.buttonIcon.svg }}"></use>
        </svg>
        {{ heroHome.buttonSecondary }}
      </a>
    </div>
  </div>
  <div class="hero-section__img-wrapper">
    <picture class="hero-section__banner">
      <source srcset="/img/{{ heroHome.img }}-1x.avif 1x, /img/{{ heroHome.img }}-2x.avif 2x" type="image/avif"/>
      <source srcset="/img/{{ heroHome.img }}-1x.webp 1x, /img/{{ heroHome.img }}-2x.webp 2x" type="image/webp"/>
      <img class="hero-section__banner" src="/img/{{ heroHome.img }}-2x.webp" alt="{{ heroHome.alt }}" loading="lazy"/>
    </picture>
  </div>
</section>