<div class="contact__layout">
  <div class="contact__intro">
    <h2 class="primary-title contact__primary-title">{{ contactIntro.label }}</h2>
    <h1 class="contact__title">
      <span>{{ contactIntro.titleUp }}</span>
      <span>{{ contactIntro.titleLow }}</span>
    </h1>
    <h3 class="contact__description">{{ contactIntro.description }}</h3>
  </div>
  <a class="button contact__button button--primary" href="{{ contactIntro.buttonLink }}">
    {{ contactIntro.buttonText }}
  </a>
  <div class="contact__info-wrapper">
    {% for item in contactInfo %}
      <div class="contact__info-item">
        <svg class="svg contact__icon" aria-hidden="true" focusable="false">
          <use href="{{ item.icon }}"></use>
        </svg>
        <p class="contact__text">
          {% if "@" in item.text %}
            <a href="mailto:{{ item.text }}">{{ item.text }}</a>
          {% elif item.text.match('^\\+?[\\d\\s().-]+$') %}
            <a href="tel:{{ item.text | replace(' ', '') | replace('(', '') | replace(')', '') | replace('-', '') }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
  <div class="contact__map-wrapper">
    <div class="contact__map">
      <picture class="contact__map-img">
        <source srcset="/img/{{ contactMap.img }}-1x.avif 1x, /img/{{ contactMap.img }}-2x.avif 2x" type="image/avif"/>
        <source srcset="/img/{{ contactMap.img }}-1x.webp 1x, /img/{{ contactMap.img }}-2x.webp 2x" type="image/webp"/>
        <img src="/img/{{ contactMap.img }}-2x.webp" alt="{{ contactMap.alt }}" loading="lazy"/>
      </picture>
    </div>
    <div class="contact__map-wrapper-info">
      <svg class="svg contact-map__icon" aria-hidden="true" focusable="false">
        <use href="{{ contactMap.icon }}"></use>
      </svg>
      <div>
        <p class="contact__map-text-upper">{{ contactMap.textPrimary }}</p>
        <p class="contact__map-text-lower">{{ contactMap.textSecondary }}</p>
      </div>
    </div>
  </div>
</div>