<div class="blog-hero__wrapper">
  <span class="label blog-hero__label">
    {{ blogHero.label }}
  </span>
    <h1 class="blog-hero__title">
      <span class="blog-hero__title-prefix">
        {{ blogHero.titlePrefix }}
      </span>
      <span class="blog-hero__title-suffix">
        {{ blogHero.titleSuffix }}
      </span>
    </h1>
</div>
<picture class="blog-hero__img">
  <source srcset="/img/{{ blogHero.image.src }}-1x.avif 1x, /img/{{ blogHero.image.src }}-2x.avif 2x" type="image/avif"/>
  <source srcset="/img/{{ blogHero.image.src }}-1x.webp 1x, /img/{{ blogHero.image.src }}-2x.webp 2x" type="image/webp"/>
  <img class="blog-hero__img" src="/img/{{ blogHero.image.src }}-2x.webp" alt="{{ blogHero.image.alt }}" width="2240" height="1260" loading="eager"/>
</picture>