<div class="article-section article__upper">
    <p class="article__paragraph">In the vast expanse of graphic design, typography stands as a pivotal element that can
        make or break the visual appeal of any project. Understanding the art of typography is essential for creating designs
        that not only attract attention but also communicate effectively. Here, we delve into practical tips that will help you
        master typography, transforming your creations into eye-catching masterpieces.</p>
    <h3 class="article__subtitle">1. Understand Typeface Selection</h3>
    <p class="article__paragraph">The choice of typeface is foundational in setting the tone of your design. Serif fonts,
        with their classic appeal, lend a touch of elegance and formality, making them ideal for print media and official
        documents. Sans-serif fonts, on the other hand, project a modern and clean look, perfect for digital platforms. When
        selecting a typeface, consider the message you wish to convey and the medium through which it will be communicated.</p>
    <h3 class="article__subtitle">2. Create a Typographic Hierarchy</h3>
    <div class="article__img-wrapper">
        <img class="article__img" src="#" alt="#">
        <div class="article__img-captions">
            <p class="article__img-description">Example of font usage in typography</p>
            <a class="article__img-link" href="#">Get this asset</a>
        </div>
    </div>
</div>
<div class="article-section article__lower">
    <h3 class="article__subtitle">3. Experiment with Alignment</h3>
    <p class="article__paragraph">While center and right alignments have their place, left-aligned text is generally the
        most legible and comfortable for readers, especially for longer passages. However, don’t shy away from experimenting
        with different alignments in headings or callouts to add dynamism to your layout.</p>
    <h3 class="article__subtitle">4. Embrace white space
    </h3>
    <p class="article__paragraph">White space, or negative space, is a powerful tool in typography. It helps in decluttering
        designs and allows each typographic element to breathe. Proper use of white space can significantly improve the overall
        balance and composition of your design.</p>
    <figure class="article__quote-wrapper">
        <img class="article__quote-img" src="#" alt="#">
        <blockquote class="article__quote">
            <img class="article__quote-svg" src="#" alt="#">
            Typography is not just the art of arranging type but the craft of breathing life into characters, turning words
            into stories that captivate the soul.
        </blockquote>
    </figure>
    <p class="article__paragraph">Typography is an art that speaks volumes beyond the mere letters on a surface. By applying
        these tips, designers can elevate their work from mere messages to powerful visual statements. Remember, mastering
        typography is a journey
    </p>
</div>