<div class="catalog-filter__header">
    <h4 class="catalog-filter__header-title">{{ catalogFilterHeader.title }}</h4>
    <button class="button catalog-filter__header-btn button--secondary">
    <svg class="svg catalog-filter__header-icon">
        <use href="{{ catalogFilterHeader.icon }}"></use>
    </svg>
    </button>
</div>