<div class="catalog-filter__header">
    <button class="button catalog-filter__header-btn button--secondary" type="button">
        <svg class="svg catalog-filter__header-icon" aria-hidden="true" focusable="false">
            <use href="{{ catalogFilterHeader.icon }}"></use>
        </svg>
    </button>
</div>