<section class="container pricing-section">
  <h2 class="primary-title pricing-section__primary-title">
    {{ pricingSection.title }}
  </h2>
  <h3 class="secondary-title pricing-section__secondary-title">
    {{ pricingSection.subtitle }}
  </h3>
  <ul class="pricing-list">
    {% for plan in pricingPlans %}
      {% include "partials/pricing-card.njk" %}
    {% endfor %}
  </ul>
</section>