<li class="product__list-item">
  <article class="product-card">
    <a class="product-card__link" href="{{ item.link }}">
      <div class="product-card__wrapper">
        <svg class="product-card__img">
          <use href="{{ item.img }}" aria-label="{{ item.alt }}"></use>
        </svg>
      </div>
      <h3 class="product-card__title">{{ item.title }}</h3>
    </a>
  </article>
</li>