{% for item in productCategories.items %}
<li class="product-section__list-item">
  <article class="product-card">
    <div class="product-card__wrapper">
      <img
        class="product-card__img"
        src="{{ item.img }}"
        alt="{{ item.alt }}"
      />
    </div>
    <h3 class="product-card__title">{{ item.title }}</h3>
  </article>
</li>
{% endfor %}
