<section class="container product-section">
    <h2 class="visually-hidden">PRODUCT CATEGORIES</h2>
    <ul class="product-section__list">
        <li class="product-section__list-item">
            <article class="product-card">
                <div class="product-card__wrapper">
                    <img class="product-card__img" src="Illustration.png" alt="images of different devices">
                </div>
                <h3 class="product-card__title">UI kits</h3>
            </article>
        </li>
        <li class="product-section__list-item">
            <article class="product-card">
                <div class="product-card__wrapper">
                    <img class="product-card__img" src="Illustration.png" alt="mobile phone">
                </div>
                <h3 class="product-card__title">Social Media</h3>
            </article>
        </li>
        <li class="product-section__list-item">
            <article class="product-card">
                <div class="product-card__wrapper">
                    <img class="product-card__img" src="Illustration.png" alt="roll up banner with graphs">
                </div>
                <h3 class="product-card__title">Presentation</h3>
            </article>
        </li>
        <li class="product-section__list-item">
            <article class="product-card">
                <div class="product-card__wrapper">
                    <img class="product-card__img" src="Illustration.png" alt="square with typography">
                </div>
                <h3 class="product-card__title">Fonts</h3>
            </article>
        </li>
        <li class="product-section__list-item">
            <article class="product-card">
                <div class="product-card__wrapper">
                    <img class="product-card__img" src="Illustration.png" alt="painting bag">
                </div>
                <h3 class="product-card__title">illustrations</h3>
            </article>
        </li>
    </ul>
</section>