<li class="product-section__list-item">
  <article class="product-card">
    <div class="product-card__wrapper">
      <svg class="product-card__img">
        <use href="{{ item.img }}" aria-label="{{ item.alt }}" loading="lazy"></use>
      </svg>
    </div>
    <h3 class="product-card__title">{{ item.title }}</h3>
  </article>
</li>