<section>
    <h2>TRENDING</h2>
    <div>
        <h3>Popular Products</h3>
        <div>
        <button>#</button>
        <button>#</button>
        </div>
    </div>
    <ul>
        <li>
            <article>
                <img src="#" alt="Travel Hero UI page">
                <div>
                    <img src="#" alt="cup-icon">
                </div>
                <div>
                    <h4>Travel Hero</h4>
                    <p>€29.99</p>
                </div>
                <div>
                    <p>Adventure</p>
                    <p>Journey</p>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="#" alt="Healthcare Pro UI page">
                <div>
                    <img src="#" alt="cup-icon">
                </div>
                <button>Go to Product</button>
                <div>
                    <h4>Healthcare Pro</h4>
                    <p>€15.99</p>
                </div>
                <div>
                    <p>Medical</p>
                    <p>Wellness</p>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="#" alt="Foodish Delight UI page">
                <div>
                    <h4>Travel Hero</h4>
                    <p>€31.99</p>
                </div>
                <div>
                    <p>Catering</p>
                    <p>Food</p>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="#" alt="Real Estate UI page">
                <div>
                    <h4>Real Estate</h4>
                    <p>€40.99</p>
                </div>
                <div>
                    <p>Modern</p>
                    <p>Homes</p>
                </div>
            </article>
        </li>
    </ul>
</section>