<section class="container trending">
  <h2 class="primary-title trending__primary-title">
    {{ trendingSection.title }}
  </h2>
  <div class="trending__header">
    <h3 class="secondary-title trending__secondary-title">
      {{ trendingSection.subtitle }}
    </h3>
    {% for button in trendingSection.navButtons %}
      <button class="button trending__button button--secondary">
        <svg class="trending-button__icon">
          <use href="{{ button.icon }}" aria-label="{{ button.alt }}" loading="lazy"></use>
        </svg>
      </button>
    {% endfor %}
  </div>
  <ul class="trending__list-wrapper">
    {% for item in trendingSection.items %}
      {% include "partials/trending-card.njk" %}
    {% endfor %}
  </ul>
</section>