@use "./variables" as *;
@use "./mixins" as *;

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  color: $color-text-primary;
  background-color: $color-body-bg;
  font-family: $ff-body;
  font-weight: $fw-regular;
  font-size: $fz-sm;
  line-height: $lh-base;
  overflow-x: hidden;

  &.not-scrolled {
    @include tablet {
      overflow-y: hidden;
    }
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button:focus,
a:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.svg {
  @include svg-size;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: $space-0 auto;
  padding-inline: $space-base;

  @include tablet {
    padding-inline: $space-2xl;
  }

  @include desktop {
    padding-inline: $space-5xl;
  }
}
