@use "./variables" as *;

@mixin input {
  border: 1px solid #1d36532b;
  border-radius: 8px;
  height: 64px;
}

@mixin input-style {
  &:hover {
    border: 2px solid #3892f3;
  }

  /**  &:invalid {
    border: 1px solid #ea3829;
  } **/

  &:focus,
  &:focus-visible {
    border: 3px solid #3892f3;
  }

  &:disabled {
    background-color: #1d36532b;
  }
}

@mixin label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 8px;
  white-space: nowrap;
  background-color: rgb(2, 101, 220);
  border-color: rgb(2, 101, 220);
  color: rgb(245, 248, 251);
  height: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

@mixin button-base {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 8px;
  display: inline-block;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease;
}

@mixin button-small-primary {
  background-color: rgb(2, 101, 220);
  border-color: rgb(2, 101, 220);
  color: rgb(245, 248, 251);
  height: 40px;
  width: 40px;
}

@mixin button-small-secondary {
  background-color: transparent;
  border-color: #2735448c;
  height: 40px;
  width: 40px;
}

@mixin button-primary {
  background-color: rgb(2, 101, 220);
  border-color: rgb(2, 101, 220);
  color: rgb(245, 248, 251);
  height: 64px;
  padding-block: 18px;
  padding-inline: 32px;
}

@mixin button-secondary {
  border: 2px solid #1d36532b;
  background-color: transparent;
  height: 64px;
  padding-block: 18px;
  padding-inline: 32px;
}

@mixin svg-size {
  width: 24px;
  height: 24px;
}

@mixin product-image {
  height: 272px;
  border-radius: 20px;
  object-fit: cover;
  position: relative;
}

@mixin card-info {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #2a3541b2;
  white-space: nowrap;
}

@mixin card-pseudoelement {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #2a3541b2;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

@mixin link-style($has-focus: true) {
  text-decoration: none;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease;

  &:hover {
    color: #3892f3;
  }
  @if $has-focus {
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 4px #3892f3;
      border-radius: 5px;
    }
  }

  &:visited {
    color: #0054b6;
  }

  &:disabled {
    color: #22344966;
  }
}

@mixin button-primary-style {
  &:hover {
    background-color: #3892f3;
    border-color: #3892f3;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px rgba(30, 144, 255, 0.6);
  }

  &:active {
    background-color: #0054b6;
    border-color: #0054b6;
  }

  &:disabled {
    outline: none;
    color: #22344966;
    border: 2px solid rgba(29, 54, 83, 0.17);
    background-color: rgba(29, 54, 83, 0.17);
    pointer-events: none;
  }
}

@mixin button-secondary-style {
  &:hover {
    background-color: #294d7517;
  }

  &:focus-visible {
    outline: none;
    background-color: #294d7517;
    box-shadow: 0 0 0 4px #3892f3;
    border-color: #294d7517;
  }

  &:active {
    background-color: #294d7517;
  }

  &:disabled {
    color: #22344966;
    background-color: #1d36532b;
    border: 2px solid #22344966;
    border-radius: 8px;
    pointer-events: none;
  }
}

@mixin desktop {
  @media screen and (width >= #{$screen-desktop}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (width >= #{$screen-tablet}) {
    @content;
  }
}
