@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.blog-page {
  background: linear-gradient(
    165deg,
    rgba(240, 246, 253, 1) 10%,
    rgba(0, 0, 0, 0) 25%
  );
}

.blog-hero {
  &__wrapper {
    padding-block: $space-4xl;
  }

  &__label {
    padding: $space-base;
    border-radius: 100px;
    width: 146px;
    height: 40px;
    margin-bottom: $space-lg;
  }

  &__title {
    margin-block: $space-0;
    font-size: $fz-xl;
    line-height: $lh-xl;

    @include tablet {
      font-size: $fz-2xl;
      line-height: $lh-2xl;
    }
  }

  &__img-wrapper {
    margin-bottom: $space-lg;
  }

  &__img img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
  }
}

.blog-layout {
  display: flex;
  position: relative;
  flex-direction: column-reverse;

  @include tablet {
    flex-direction: row-reverse;
    gap: $gap-3xl;
  }
}
