@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.blog-page {
  background: linear-gradient(
    165deg,
    rgba(240, 246, 253, 1) 10%,
    rgba(0, 0, 0, 0) 25%
  );
}

.blog-hero {
  &__wrapper {
    padding-block: 64px;
  }

  &__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    border-radius: 100px;
    width: 146px;
    height: 40px;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 52px;
    line-height: 62px;
    margin-block: 0;
  }

  &__img-wrapper {
    margin-bottom: 48px;
  }

  &__img img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
  }
}

.blog-layout {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  gap: 48px;

  @include tablet {
    flex-direction: row-reverse;
    gap: 40px;
  }
}
