@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.blog {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $space-3xl;
  }

  &__link {
    font-weight: $fw-semibold;
    color: $color-primary;
    @include link-style;
  }

  &__link-icon {
    color: $color-primary;
    vertical-align: middle;
    @include svg-small;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;

    @include tablet {
      flex-direction: row;
    }
  }
}

.blog-card {
  &__img img {
    height: 289px;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.5s ease;

    @include tablet {
      height: 702px;
      width: 100%;
    }

    @include card-hover;
  }

  &__title {
    font-size: $fz-lg;
    line-height: 36px;
    margin-block: $space-lg $space-sm;
  }

  &__date {
    color: $color-03;
  }
}
