@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.catalog-filter {
  display: none;

  @include desktop {
    display: flex;
  }

  &.is-shown {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 128px;
    left: 0;
    width: 100%;
    height: 824px;
    overflow-y: auto;
    background-color: $color-background;
  }

  &__section {
    margin-bottom: $space-2xl;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap-base;
    height: 88px;
    padding-block: $space-lg;
    padding-inline: $space-base;
    background-color: $color-white;
    margin-bottom: $space-2xl;

    @include desktop {
      display: none;
    }

    &-btn {
      border: 2px solid $color-gray-light;
      padding: $space-s;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include button-small-secondary;
    }

    &-title {
      font-size: 24px;
      line-height: 23px;
      margin-block: $space-0;
    }
  }

  &__wrapper {
    display: flex;
    gap: $gap-3xl;
    flex-direction: column-reverse;
    padding-inline: $space-base;
    height: 100%;
    @include desktop {
      flex-direction: column;
      width: 100%;
    }
  }
  
  &__button-lower {
    display: flex;
    align-items: center;
    position: fixed;
    height: 96px;
    width: 100%;
    background-color: $color-white;
    padding: $space-base;
    top: 854px;
    left: 0;

    @include desktop {
      display: none;
    }
  }

  &__button-save {
    width: 100%;
  }

  &__button {
    width: 100%;
    height: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap-3xl;
  }

  &__title {
    margin-bottom: $space-lg;
    margin-top: $space-0;
    font-size: 32px;
  }

  &__label {
    font-size: $fz-xs;
    line-height: $lh-sm;
    color: $color-text-primary;
    position: relative;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
    padding-inline: $space-0;
  }

  &__item {
    padding-block: $space-xs;
  }

  &__range-labels {
    display: flex;
    justify-content: space-between;
    margin-top: $space-sm;
  }

  &--price {
    margin-bottom: $space-6xl;
    @include desktop {
      margin-bottom: $space-0;
    }
  }
}
