@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.catalog {
  flex: 1;
  position: relative;

  &__grid-button {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    position: relative;
    z-index: 2;
    overflow: visible;

    &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 35%, rgba(0, 0, 0, 0) 130%);
    pointer-events: none;
    z-index: 1;
  }
  }

  &-layout {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    padding-block: 0;
    margin-bottom: 120px;
  }
}

.hero-section {
  &--catalog {
    background-image: url("/sprite/background-gradient.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 288px;
  }

  &__catalog-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    color: #0d0d15;
    letter-spacing: -0.5px;
    top: 64px;
    left: 80px;
  }

  &__catalog-highlight {
    color: #0265dc;
  }
}

.catalog {
  &-header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  &-tools {
    display: flex;
    gap: 24px;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-tools__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
  }

  &-tools__select {
    height: 40px;
    flex: 1;
    padding-block: 8px;
    padding-inline: 20px;

    @include tablet {
      width: 156px;
    }
  }

  &-tools__filter-icon {
    color: #f8f7ff;
  }

  &-tools__filter {
    @include tablet {
      display: none;
    }
  }

  &-tools__lower {
    display: flex;
    gap: 24px;
    justify-content: space-between;
  }

  &-meta__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &-meta {
    display: inline-block;
  }

  &-meta__primary {
    margin-right: 8px;
  }

  &-meta__icon-primary {
    color: #f8f7ff;
  }

  &-tags {
    display: flex;
    gap: 8px;
  }

  &-tag__item {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 8px;
    height: 32px;
    width: auto;
    padding-block: 6px;
    padding-inline: 12px;
  }

  &-tag__icon {
    width: 16px;
    height: 16px;
  }

  &-filter__button {
    font-size: 16px;
    line-height: 24px;
  }

  &-filter__button-icon {
    margin-right: 8px;
  }
}
