@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.catalog-filter {
  display: none;

  @include desktop {
    display: flex;
    width: auto;
    max-width: 217px;
  }

  &.is-shown {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $color-background;
  }

  &__fieldset {
    border: none;
    padding: $space-0;
    margin: $space-0;
  }

  &__section {
    margin-bottom: 35px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap-base;
    padding-block: $space-lg;
    padding-inline: $space-base;
    background-color: $color-white;
    margin-bottom: 36px;

    @include desktop {
      display: none;
    }
  }

  &__header-btn {
    border: 2px solid $color-gray-light;
    padding: $space-s;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include button-small-secondary;
  }

  &__header-title {
    font-family: $ff-heading;
    font-weight: 700;
    font-size: $fz-ml;
    line-height: 32px;
    margin-block: $space-0;
  }

  &__wrapper {
    display: flex;
    gap: 40px;
    flex-direction: column-reverse;
    padding-inline: $space-base;
    height: 100%;
    @include desktop {
      flex-direction: column;
      width: 100%;
      padding-inline: $space-0;
    }
  }

  &__button-lower {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $color-white;
    padding: $space-base;

    @include desktop {
      display: none;
    }
  }

  &__button-icon {
    flex-shrink: 0;
  }

  &__button-save {
    width: 100%;
  }

  &__button {
    padding-block: 8px;
    padding-inline: 20px;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap-3xl;
  }

  &__title {
    font-family: $ff-heading;
    font-weight: $fw-bold;
    color: $color-text-primary;
    margin-bottom: $space-lg;
    margin-top: $space-0;
    font-size: $fz-ml;
    line-height: $lh-lg;
  }

  &__label {
    color: $color-text-primary;
    position: relative;
    font-size: $fz-xs;
    line-height: $lh-sm;
  }

  &__label-icon {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
    padding-inline: $space-0;
    margin-block: 0;
  }

  &__item {
    padding-block: $space-xs;
  }

  &__range-slider {
    position: relative;
  }

  &__range-line {
    background-color: $color-gray-light;
    width: 215px;
    height: 4px;
    border-radius: 4px;
  }

  &__range-line--is-selected {
    position: absolute;
    top: 0;
    left: 55px;
    width: 108px;
    background-color: $color-primary;
  }

  &__button-primary {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -6px;
    left: 45px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: $color-primary;
  }

  &__button-secondary {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -6px;
    left: 150px;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: $color-primary;
  }

  &__range-slider {
    margin-top: $space-md;
  }

  &__range-labels {
    display: flex;
    justify-content: space-between;
    margin-top: $space-sm;
  }

  &__button {
    font-size: $fz-sm;
    line-height: $lh-base;
  }

  &__button-icon {
    margin-right: $space-sm;
  }
}
