@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.categories {
  padding-block: 0;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include tablet {
    flex-direction: row-reverse;
  }

  &__header {
    min-width: 408px;

    @include desktop {
      height: 304px;
    }
  }

  &__description {
    color: #222222;
    font-size: 18px;
    line-height: 28px;
  }

  &__header-button {
    width: 151px;
  }

  &__secondary-title {
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 32px;
  }

  &__list-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    min-width: 408px;

    @include tablet {
      width: 50%;
      min-width: 440px;
    }

    @include desktop {
      min-width: 608px;
    }
  }

  &__list-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 460px;
    padding-inline: 0;
  }

  &__list-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 460px;
    padding-inline: 0;
  }

  &__list-item {
    background-color: #f4f7fa;
    padding: 24px;
    border-radius: 20px;
    width: 100%;
    height: 180px;
    min-width: 194px;

    @include tablet {
      min-width: 210px;
    }

    @include desktop {
      min-width: 294px;
    }
  }
}
