@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.categories {
  padding-block: 0;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include tablet {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    width: 100%;
  }

  &__description {
    color: #222222;
    font-size: 18px;
    line-height: 28px;
    margin-block: 16px 32px;
  }

  &__header-button {
    width: 151px;
  }

  &__secondary-title {
    margin-block: 16px;
  }

  &__list-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    width: 100%;

    @include tablet {
      min-width: 50%;
    }
  }

  &__list-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 460px;
    width: 50%;
    padding-inline: 0;
    margin-block: 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 400px;
      height: 60px;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(240, 246, 253, 1) 40%,
        rgba(255, 255, 255, 0.6) 100%
      );
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }

  &__list-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 460px;
    width: 50%;
    padding-inline: 0;
    margin-block: 100px -80px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -80px;
      left: 0;
      height: 60px;
      width: 100%;
      background: linear-gradient(
        0deg,
        rgba(240, 246, 253, 1) 40%,
        rgba(255, 255, 255, 0.6) 100%
      );
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  &__list-item {
    background-color: #f4f7fa;
    border-radius: 20px;
    height: 180px;

    @include tablet {
      min-width: 210px;
    }

    @include desktop {
      min-width: 294px;
    }
  }
}

.categories__list-item {
  &:hover {
    .categories-card {
      background-color: #0265dc;
      transform: scale(1.02);

      &__svg {
        color: #ffffff;
        transform: scale(1.1);
      }

      &__title {
        color: #f8f7ff;
      }

      &__description,
      &__label {
        color: #eff5fad1;
      }

      &__label::before {
        background-color: #eff5fad1;
      }

      &__img {
        color: #ffffff;
      }
    }
  }
}
