@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container--contact {
  background: linear-gradient(
    180deg,
    rgba(240, 246, 253, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  @include tablet {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: $gap-3xl;
    margin-bottom: $space-6xl;
  }
}

.contact {
  &__layout {
    padding-block: $space-4xl 0;
    width: 100%;
  }

  &__intro {
    margin-bottom: $space-xl;
  }

  &__title {
    margin-block: $space-0;
    display: flex;
    flex-direction: column;
  }

  &__description {
    font-family: $ff-body;
    font-size: $fz-md;
    line-height: $lh-m;
    color: $color-text-secondary;
    margin-bottom: $space-base;
  }

  &__button {
    width: 117px;
    padding-block: $space-sm;
    padding-inline: $space-m;
    margin-bottom: $space-xl;
  }

  &__info-wrapper {
    margin-bottom: $space-3xl;
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: $gap-sm;
    margin-bottom: $space-sm;
  }

  &__text {
    font-weight: $fw-semibold;
    font-size: $fz-md;
    line-height: $lh-m;
    margin-block: $space-0;
  }

  &__icon {
    color: $color-primary;
  }

  &__map-wrapper {
    position: relative;
  }

  &__map-img img {
    display: block;
    height: 314px;
    overflow: hidden;
    border-radius: $space-m;
    width: 100%;
    height: 314px;
    object-fit: cover;
    object-position: 0 75%;
  }

  &__map-wrapper-info {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: white;
    display: flex;
    height: 72px;
    gap: $gap-md;
    align-items: center;
    padding: $space-md $space-base;
    border-radius: 8px;
    @include box-shadow;
  }

  &__map-text-upper {
    font-weight: $fw-bold;
    margin-block: $space-md 0;
  }

  &__map-text-lower {
    color: $color-text-secondary;
    margin-block: $space-0 $space-md;
  }

  &-map__icon {
    color: $color-primary;
  }
}
