@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding-block: 32px;
    margin-bottom: 32px;

    @include tablet {
      padding-block: 64px 80px;
      margin-bottom: 55px;
    }
  }

  &__upper {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__brand {
    width: 408px;
    min-width: 320px;
    margin-bottom: 32px;

    @include tablet {
      width: 320px;
    }
  }
  &__logo {
    width: 300px;
    height: 58px;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__social-list {
    padding: 0;
    margin-block: 0 16px;
    display: flex;
    gap: 8px;
  }

  &__social-item {
    padding: 20px;
    align-items: unset;
    width: 64px;

    @include button-secondary-style;
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    min-width: 320px;

    @include tablet {
      flex-direction: row;
      align-items: center;
      width: 645px;
    }
  }

  &__newsletter-title {
    font-size: 24px;
    line-height: 32px;
    width: 216px;
    min-width: 216px;
    margin-block: 0;
  }

  &__form {
    display: flex;
    gap: 8px;
    width: 100%;
    min-width: 320px;
  }

  &__input {
    @include input;
    width: 243px;

    &::placeholder {
      padding-left: 20px;
    }

    @include input-style;
  }

  &__lower {
    padding-block: 24px;
    padding-inline: 16px;
    margin-bottom: 0;
    background-color: #0d0d15;

    @include tablet {
      display: flex;
      justify-content: space-between;
      padding-inline: 80px;
    }
  }

  &__legal-list {
    display: inline-flex;
    gap: 16px;
    padding: 0;
  }

  &__legal-item {
    line-height: 24px;
    color: #e7eef7a8;
    position: relative;
    

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 24px;
      margin-inline: 8px;
      margin-right: 8px;
      background-color: #e7eef7a8;
    }

    &:last-child::after {
      content: none;
    }
  }

  &__copyright {
    line-height: 24px;
    color: #e7eef7a8;
    margin-bottom: 0;
  }
}
