@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  &__content {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
    padding-block: $space-xl;
    margin-bottom: $space-xl;

    @include tablet {
      padding-block: $space-4xl $space-5xl;
      gap: $gap-6xl;
    }
  }

  &__upper {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__brand {
    margin-bottom: $space-xl;

    @include tablet {
      width: 320px;
    }
  }
  &__logo {
    width: 300px;
    height: 58px;
    margin-left: -20px;/* there is a mystery space on the left of the logo, i believe it comes from viewport and goes away only when i put height in around 70px, so i put -20 to the left to match the layout*/
  }

  &__middle {
    display: flex;
    flex-direction: column;
    gap: $gap-base;
    min-width: 0;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__social-list {
    padding: $space-0;
    margin-block: $space-0;
    display: flex;
    gap: $gap-sm;
  }

  &__social-item {
    padding: $space-m;
    align-items: unset;
    width: 64px;
  }

  &__social-link {
    @include button-secondary-style;
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
    width: 100%;
    min-width: 320px;

    @include tablet {
      flex-direction: row;
      align-items: center;
      width: 645px;
    }
  }

  &__newsletter-title {
    font-size: 24px;
    line-height: $lh-lg;
    width: 216px;
    min-width: 216px;
    margin-block: $space-0;
  }

  &__form {
    display: flex;
    gap: $gap-sm;
    width: 100%;
    min-width: 320px;
  }

  &__input {
    @include input;
    width: 100%;
    flex: 1;

    @include tablet {
      width: 243px;
    }

    &::placeholder {
      padding-left: $space-m;
    }

    @include input-style;
  }

  &__lower {
    padding-block: $space-lg;
    padding-inline: $space-base;
    margin-bottom: $space-0;
    background-color: #0d0d15;
    height: 128px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: $space-5xl;
      height: 72px;
    }
  }

  &__legal-list {
    display: inline-flex;
    gap: $gap-base;
    padding: $space-0;
  }

  &__legal-link {
    @include link-style;
  }

  &__legal-item {
    line-height: $lh-base;
    color: #e7eef7a8;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 1px;
      height: 24px;
      margin-inline: $space-sm;
      margin-right: $space-sm;
      background-color: #e7eef7a8;
    }

    &:last-child::after {
      content: none;
    }
  }

  &__copyright {
    line-height: $lh-base;
    color: #e7eef7a8;
    margin-block: $space-0;
  }
}
