@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero-section {
  &--homepage {
    padding-block: 32px 64px;
    margin-block: 0 64px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: left;
    gap: 36px;
    background: linear-gradient(
      90deg,
      rgba(240, 246, 253, 1) 30%,
      rgba(255, 255, 255, 1) 60%
    );

    @include tablet {
      padding-block: 120px;
      margin-block: 0 120px;
      flex-direction: row;
      align-items: center;
    }

    @include desktop {
      padding-block: 47px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 398px;
    width: 100%;

    @include tablet {
      width: 69%;
      max-width: 520px;
    }
  }

  &__banner {
    height: 276px;
    width: 100%;

    @include tablet {
      height: 386px;
      width: 443px;
      flex: 1;
    }

    @include desktop {
      max-width: 544px;
    }
  }

  &__heading {
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    margin-block: 0;

    &-highlight {
      font-weight: 700;
      color: rgb(2, 101, 220);
    }
  }

  &__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $text-primary;
    opacity: 85%;
    margin-block: 0;
  }

  &__btn-wrapper {
    display: flex;
    gap: 24px;
  }

  &__button-primary {
    @include button-base;
    @include button-primary;
    width: 151px;
  }

  &__button-secondary {
    @include button-base;
    background-color: #ffffff;
    color: #0d0d15;
    padding-block: 18px;
    padding-inline: 32px;
    width: 233px;
    border: 1px solid transparent;

    &:hover {
      &:hover {
        background-color: #294d7517;
        border: 1px solid #3892f3;
      }

      &:focus-visible {
        outline: none;
        background-color: #294d7517;
        box-shadow: 0 0 0 4px #3892f3;
        border-color: #294d7517;
      }

      &:active {
        background-color: #294d7517;
      }

      &:disabled {
        color: #22344966;
        background-color: transparent;
      }
    }
  }

  &__button-svg {
    margin-right: 8px;
    color: #0265dc;
    fill: #0265dc;
  }
}
