@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero-catalog {
    background-image: url("/img/hero-background-1x.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 288px;
    display: flex;
    align-items: center;

  &__title {
    display: flex;
    flex-direction: column;
    letter-spacing: -0.5px;
    margin-block: $space-4xl 100px;
    font-size: $fz-xl;
    line-height: $lh-xl;

    @include tablet {
      font-size: $fz-2xl;
      line-height: $lh-2xl;
    }
  }

  &__highlight {
    color: $color-primary;
  }
}