@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.pricing {
  &__primary-title {
    text-align: center;
  }

  &__secondary-title {
    text-align: center;
    margin-block: $space-base $space-5xl;
  }
}
