@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.product {
  margin-bottom: 28px;

  &__list {
    padding-block: $space-base;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: $gap-base;
    padding-inline: 0;
    max-width: 100vw;
    overflow-x: scroll;

    @include desktop {
      gap: $gap-xl;
    }
  }

  &__list-item {
    width: 100%;
    min-width: 224px;

    @include tablet {
      min-width: 176px;
    }

    @include desktop {
      min-width: 224px;
    }
  }
}
