@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.trending {
  margin-top: $space-3xl;
  padding-left: 16px;

  @include tablet {
    margin-top: 100px;
    padding-left: 40px;
  }

  @include desktop {
    padding-inline: 80px;
  }

  &__primary-title {
    margin-bottom: $space-base;
  }
  &__secondary-title {
    margin-block: $space-0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space-3xl;

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__header-functions {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__header-button {
    font-size: $fz-sm;
    margin-right: $space-sm;
    padding: $space-m;
  }

  &__header-button-icon {
    color: $color-text-primary;
    @include svg-size;
  }

  &__list-item {
    width: 100%;
    position: relative;
  }

  &__list-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 305px;
    gap: $gap-base;
    overflow-x: scroll;
    padding-inline: 0;

    @include desktop {
      display: grid;
      grid-template-columns: repeat(minmax(200px, 1fr));
      align-items: center;
    }
  }
}
