@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.trending {
  &__primary-title {
    margin-bottom: $space-base;
    padding-inline: $space-base;

    @include tablet {
      padding-inline: $space-2xl $space-0;
    }

    @include desktop {
      padding-inline: $space-5xl $space-0;
    }
  }
  &__secondary-title {
    margin-block: $space-0;
    white-space: nowrap;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $space-3xl;
    padding-inline: $space-base;

    @include tablet {
      padding-inline: $space-2xl;
    }

    @include desktop {
      padding-inline: $space-5xl;
    }
  }

  &__header-functions {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__button {
    width: 64px;
    font-size: $fz-sm;
    margin-right: $space-sm;
    padding: $space-0;

    &-icon {
      color: $color-text-primary;
      @include svg-small;
    }
  }

  &__list-item {
    width: 100%;
    min-width: 305px;
    position: relative;
  }

  &__list-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 305px;
    gap: $gap-base;
    padding-inline: $space-base $space-0;
    overflow-x: scroll;

    @include tablet {
      padding-inline: $space-2xl $space-0;
    }

    @include desktop {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      overflow: visible;
      overflow-x: unset;
      padding-inline: $space-5xl;
    }
  }
}
