@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.trending {
  &__secondary-title {
    margin-block: $space-0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-3xl;
  }

  &__button {
    width: 64px;
    font-size: 16px;
    margin-right: $space-sm;
    padding: $space-0;

    &-icon {
      color: #0d0d15;
      @include svg-small;
    }
  }

  &__list-item {
    width: 100%;
    min-width: 305px;
    position: relative;
  }

  &__list-wrapper {
    display: flex;
    gap: $gap-base;
    padding-inline: $space-0;
    overflow-x: scroll;

    @include desktop {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-items: center;
      overflow: visible;
      overflow-x: unset;
    }
  }
}
